<div>
    <h1>
        Lista de Referencias
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">Codigo de Barras</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of referencias">
                <td>{{r.descripcion}}</td>
                <td>{{r.codigo}}</td>
                <td><button class="btn btn-warning" (click)="myModal.show(); cargarDatosReferencia(r.codigo)"> <i
                            class="far fa-edit"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<h4 class="modal-title">{{numero}}</h4>-->
                <h4>Modificando</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab (click)="mostrar(true, false)">
                        <ng-template tabHeading><i class="icon-calculator"></i> Descripcion</ng-template>
                        <form [formGroup]="formDescripcion" (ngSubmit)="submit(formDescripcion.value)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Nombre del Producto</label>
                                        <input class="form-control" type="text" formControlName="nombre">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Codigo de Barras</label>
                                        <input class="form-control" type="number" formControlName="codigo">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Referencias del Fabricante</label>
                                        <input class="form-control" type="text" formControlName="refFab">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </tab>
                    <tab (click)="mostrar(false, true)">
                        <ng-template tabHeading><i class="cui-list"></i> Stock</ng-template>
                        <form [formGroup]="formStock" (ngSubmit)="submit(formStock.value)">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group"><label class="col-md-3 col-form-label">Radios</label>
                                        <div class="col-md-9 col-form-label">
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio1" formControlName="novedad"
                                                    type="radio" value="AGOTADO">
                                                <label class="form-check-label" for="radio1"> Agotado </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio2" formControlName="novedad"
                                                    type="radio" value="DESCONTINUADO">
                                                <label class="form-check-label" for="radio2"> Descontinuado </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Cajas</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="number" formControlName="caja">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Display</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="number" formControlName="display">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group"><label for="ccmonth">Tipo de Referencia</label>
                                        <select class="form-control" id="ccmonth" formControlName="tipoRefe">
                                            <option>A</option>
                                            <option>B</option>
                                            <option>C</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </tab>
                    <tab>
                        <ng-template tabHeading><i class="cui-tags"></i> Lista Precio</ng-template>
                    </tab>
                    <tab>
                        <ng-template tabHeading><i class="cui-tags"></i> Inventario</ng-template>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>