<div class="row">
    <div class="col">
        <select class="form-control" [(ngModel)]="mercaderista">
      <option disabled>Seleccione</option>
      <option value="{{item.nit}}" *ngFor="let item of vidas">{{item.nombres}}</option>
    </select>
    </div>
    <div class="col">
        <mat-form-field style="width: 100%;">
            <mat-label>MES Y AÑO</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col">
        <button class="btn btn-success" (click)="cargarRuta()">Enviar</button>
    </div>
</div>

<br>

<div class="animated fadeIn">
    <tabset>
        <tab>
            <ng-template tabHeading><i class="icon-calculator"></i> Proveedor</ng-template>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of presupuestoP">
                        <td>{{p[1]}}</td>
                        <td>{{p[2]}} UND</td>
                        <td>
                            <progressbar class="progress progress-success" [value]="(p.fac/(p[2]+p.dev))*100" [max]="100" type="success"><b>{{(p.fac/(p[2]+p.dev))*100 | number}}%</b></progressbar>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab>
            <ng-template tabHeading><i class="cui-list"></i> Cliente</ng-template>
            <ngb-accordion *ngFor="let c of presupuestoC">
                <ngb-panel>
                    <ng-template ngbPanelHeader>
                        <button ngbPanelToggle class="btn btn-link w-100 text-left">{{c[1]}}</button>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table">
                            <tr *ngFor="let d of c.det">
                                <td>{{d[0]}}</td>
                                <td>{{d[1]}} UND</td>
                            </tr>
                        </table>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </tab>
    </tabset>
</div>