<div class="row">
    <div class="col">
        <select class="form-control" [(ngModel)]="mercaderista" (change)="cargarRuta()">
      <option disabled>Seleccione</option>
      <option value="{{item.nit}}" *ngFor="let item of vidas">{{item.nombres}}</option>
    </select>
    </div>
    <!--<div class="col">
        <button class="btn btn-primary" (click)="myModal.show()">Agregar Cliente</button>
    </div>-->
    <div class="col">
        <mat-form-field style="width: 100%;">
            <input #newAgen type="text" placeholder="Cliente" aria-label="Number" matInput [formControl]="controlCliente" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredCliente | async" [(value)]="option.nombres">
                    {{option.nombres}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="col">
        <button (click)="agregarAlmacen()">Agregar</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Proveedor</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha final</th>
            <th scope="col"></th>
            <th scope="col">Icono de fecha</th>
            <th scope="col">Elija vendedor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of ruta">
            <th scope="row"></th>
            <td>{{r.nombres}}</td>
            <td>
                <div>
                    <div class="input-group">
                        <input #dpFromDate class="form-control" placeholder="AAAA-MM-DD" name="fechaI" [value]="r.fechaInicio">
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group ml-2">
                    <div class="input-group">
                        <input #dpToDate class="form-control" placeholder="AAAA-MM-DD" name="fechaF" [value]="r.fechaFin">
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary mr-1" data-toggle="modal" (click)="primaryModal.show();">
          Fecha
        </button>
            </td>
            <td>
                <div class="row">
                    <div class="col">
                        <select class="form-control">
              <option disabled>Seleccione</option>
              <option value="{{item.nit}}" *ngFor="let item of vidas">{{item.nombres}}</option>
            </select>
                    </div>
                    <div class="col">
                        <button (click)="agregarAlmacen()">Agregar</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group hidden">
                        <div class="input-group">
                            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
                            </ng-template>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- <table class="table">
    <tr *ngFor="let r of ruta">
        <td>{{r.nombres}}</td>
    </tr>
</table> -->

<!--<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Ingrese el numero de la factura</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <mat-form-field style="width: 100%;">
                    <input #newAgen type="text" placeholder="Cliente" aria-label="Number" matInput [formControl]="controlCliente" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredCliente | async" [(value)]="option.nombres">
                            {{option.nombres}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>-->