<h1>
    Lista de Proveedores
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Nit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of proveedores">
            <td>{{p.nombres}}</td>
            <td>{{p.nitReal}}</td>
            <td><button class="btn btn-warning" (click)="myModal.show(); cargarDatosProveedor(p.nit)"> <i
                        class="far fa-edit"></i></button></td>
        </tr>
    </tbody>
</table>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<h4 class="modal-title">{{numero}}</h4>-->
                <h4>Modificando</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab (click)="mostrar(true, false)">
                        <ng-template tabHeading><i class="icon-calculator"></i> Datos</ng-template>
                        <form [formGroup]="formDatos" (ngSubmit)="submit(formDatos.value)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Nombre Razon Social</label>
                                        <input class="form-control" type="text" formControlName="nombreRazonSocial">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Correo Electronico</label>
                                        <input class="form-control" type="text" formControlName="correo">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </tab>
                    <tab (click)="mostrar(false, true)">
                        <ng-template tabHeading><i class="cui-list"></i> Abastecimiento</ng-template>
                        <form [formGroup]="formAbastecimiento" (ngSubmit)="submit(formAbastecimiento.value)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Cantidad (Cajas)</label>
                                        <input class="form-control" type="number" formControlName="cantidadCajas">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input class="form-control" type="number" formControlName="valor">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </tab>
                    <tab>
                        <ng-template tabHeading><i class="cui-tags"></i> Lista Precio</ng-template>
                    </tab>
                    <tab>
                        <ng-template tabHeading><i class="cui-tags"></i> Inventario</ng-template>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>