<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Tipo de Referencia</th>
            <th scope="col">Dias de Inventario de Seguridad</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of refTipo">
            <td>{{item.tipo}}</td>
            <td>{{item.dias}}</td>
            <td><button type="button" (click)="getRefTipo(item); warningModal.show()" class="btn btn-warning"><i class="far fa-edit"></i></button></td>
        </tr>
    </tbody>
</table>

<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Tipo de Referencia</h4>
                <button type="button" class="close" id="closeM" (click)="warningModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Modificando Tipo: {{getTipo.tipo}}
                <div class="form-group">
                    <label for="cubicaje">Dias de Inventario de Seguridad</label>
                    <input onClick="this.select()" type="number" class="form-control" id="dias" name="dias" placeholder="Dias de Inventario de Seguridad" [(ngModel)]="getTipo.dias">
                </div>
                <div class="form-group">
                    <button type="button" (click)="modificarRefTipo()" class="btn btn-success">
                    Guardar Cambios
                  </button>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<button type="button" class="btn btn-primary" (click)="successModal.show();">Crear <i class="fas fa-plus"></i>
</button>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creacion de Tipo de Referencia</h5>
                <button type="button" class="close" id="closeC" data-dismiss="modal" aria-label="Close" (click)="successModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="formRefTipo">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cubicaje">Nombre del tipo</label>
                        <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo de Producto" formControlName="tipo">
                    </div>
                    <div class="form-group">
                        <label for="cubicaje">Numero de Dias (Inventario Seguridad)</label>
                        <input type="number" class="form-control" id="dias" name="dias" placeholder="Dias de Inventario de Seguridad" formControlName="dias">
                    </div>
                    <div class="form-group">
                        <button [disabled]="!formRefTipo.valid" type="button" (click)="guardarRefTipo(formRefTipo.value)" class="btn btn-success">
                          Guardar
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                          Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
