<div class="card">
    <div class="card-header">
        <i class="icon-drop"></i> {{codigo}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control mb-2 text-center" value="{{numcajas}}" style="font-size: 27px;" disabled>
                <h6 class="text-center">CAJAS</h6>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-2 text-center" value="{{numdisplay}}" style="font-size: 27px;" disabled>
                <h6 class="text-center">DISPLAY</h6>
            </div>
            <div class="col">
                <input type="text" class="form-control mb-2 text-center" value="{{numunidades}}" style="font-size: 27px;" disabled>
                <h6 class="text-center">UNIDADES</h6>
            </div>
        </div>
    </div>
</div>
<div class="card">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Ingrese Codigos de Barras y Cantidades:</h5>
        </div>
        <form [formGroup]="miFormulario">
            <div class="modal-body">
                <div formArrayName="items">
                    <div *ngFor="let item of getItems.controls; let pointIndex=index" [formGroupName]="pointIndex">

                        <div class="row">
                            <div class="col-5">
                                <input autofocus [appAutofocus]="( focus === pointIndex )" formControlName="lote" type="text" class="form-control" name="lote" id=lote{{pointIndex}} placeholder="Lote" required title="Lote">
                            </div>
                            <div class="col-5">
                                <input #input2 formControlName="fechaVen" type="date" class="form-control" name="fechaVen" id=fechaVen{{pointIndex}} placeholder="Fecha Ven." required>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-danger " (click)="removeItem(pointIndex) "><i style="color: white;" class="fas fa-times "></i></a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="number" value="0" formControlName="cj" class="form-control" placeholder="Cajas" onclick="select();">
                            </div>
                            <div class="col">
                                <input type="number" value="0" formControlName="dp" class="form-control" placeholder="Display" onclick="select();">
                            </div>
                            <div class="col">
                                <input type="number" value="0" formControlName="und" class="form-control" placeholder="Unidades" onclick="select();">
                            </div>
                        </div>
                        --------------------------------
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <button id="mas" type="button" class="btn btn-primary btn-lg active" (click)="addItem(); setFocus(pointIndex)" [disabled]='!miFormulario.valid'><i
              class="fas fa-plus"></i></button>
                </div>
                <div class="col">
                    <button class="btn btn-success" (click)="guardarLote(miFormulario.value)" [disabled]='!miFormulario.valid'>Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>