<form [formGroup]="miFormulario" (submit)="submit(miFormulario.value)">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Clientes Agendados
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr *ngFor="let ter of tercerosDia">
                                <td>
                                    <a id="modal" data-toggle="modal" (click)="successModal.show(); datos(ter)" style="color: rgb(129, 127, 247);">
                                      {{ter.nombres}}
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--{{dateDay | date:"short"}}-->

    <div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingrese Numero de Factura</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="successModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <input formControlName="numFac" type="number" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="successModal.hide()">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!miFormulario.valid">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</form>

<button class="btn btn-primary" (click)="cambiarClase()">OTRA FACTURA</button>

<div *ngIf="mostrar">
    <input #newAgen class="form-control" type="text" placeholder="Cliente" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredref | async" [(value)]="option.nit">
            {{option.nombres}}
        </mat-option>
    </mat-autocomplete>
    <label for="">NUMERO DE FACTURA</label>
    <input type="number" class="form-control" placeholder="Numero de Factura" [(ngModel)]="numFac">
    <button class="btn btn-success" (click)="enviar()">Enviar</button>
</div>


<!--<input #newAgen class="form-control" type="text" placeholder="Cliente" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <div>
                  <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredref | async" [(value)]="option.nombres">
                          {{option.nombres}}
                      </mat-option>
                  </mat-autocomplete>
              </div>-->