<div class="animated fadeIn">
    <tabset>
        <tab (click)="mostrar(true, false, false, false)">
            <ng-template tabHeading><i class="icon-calculator"></i> Estimado Global</ng-template>
            <form [formGroup]="formGlobal" (ngSubmit)="submit(formGlobal.value)">
                <div class="row">
                    <div class="col-2">
                        <mat-form-field style="width: 100%;">
                            <mat-label>MES Y AÑO</mat-label>
                            <input matInput [matDatepicker]="dp" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-10">
                        <div formArrayName="items">
                            <div class="row">
                                <div class="col-3" style="text-align: center;">
                                    <b><label for="">Proveedor</label></b>
                                </div>
                                <div class="col-3" style="text-align: center;">
                                    <b><label for="">Valor Distribucion</label></b>
                                </div>
                                <div class="col-3" style="text-align: center;">
                                    <b><label for="">Valor Representacion</label></b>
                                </div>
                                <div class="col-1">
                                    <b><label for="">Eliminar</label></b>
                                </div>
                            </div>
                            <div *ngFor="let item of getItems.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                <div class="row">
                                    <div class="col-3">
                                        <select class="form-control" name="" id="" formControlName="prov" (change)="getMarca($event.target.value, pointIndex)">
                                    <option value="" disabled>Seleccione..</option>
                                    <option *ngFor="let item of marca" value="{{item.id}}">{{item.nombre}}</option>
                                  </select>
                                    </div>
                                    <div class="col-3">
                                        <input formControlName="dis" class="form-control precio" name="dis" id=dis{{pointIndex}} placeholder="Valor Distribucion" (keyup)="precio()">
                                    </div>
                                    <div class="col-3">
                                        <input formControlName="rep" class="form-control precio" name="rep" id=rep{{pointIndex}} placeholder="Valor Representacion" (keyup)="precio()">
                                    </div>
                                    <div class="col-1">
                                        <a class="btn btn-danger" (click)="removeItem(pointIndex)"><i style="color: white;" class="fas fa-times"></i></a>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button id="mas" type="button" class="btn btn-primary active" (click)="addItem()"> Adicionar Proveedor <i class=" fas fa-plus"></i></button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success" (click)="successModal.show();"> Crear Estimado <i class="fas fa-check-circle"></i></button>
                    </div>
                </div>
            </form>
        </tab>
        <tab (click)="mostrar(false, true, false, false)">
            <ng-template tabHeading><i class="cui-list"></i> Estimado por Cliente</ng-template>
            <form [formGroup]="formClien" (ngSubmit)="submit(formClien.value)">

                <div class="row">
                    <div class="col-2">
                        <mat-form-field style="width: 100%;">
                            <mat-label>MES Y AÑO</mat-label>
                            <input matInput [matDatepicker]="dp2" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                            <mat-datepicker #dp2 startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field style="width: 100%;">
                            <input #newAgen type="text" placeholder="Cliente" aria-label="Number" matInput [formControl]="controlCliente" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredCliente | async" [(value)]="option.nombres">
                                    {{option.nombres}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div formArrayName="items">
                    <div class="row">
                        <div class="col-3" style="text-align: center;">
                            <b><label for="">Proveedor</label></b>
                        </div>
                        <div class="col-3" style="text-align: center;">
                            <b><label for="">Valor Distribucion</label></b>
                        </div>
                        <div class="col-3" style="text-align: center;">
                            <b><label for="">Valor Representacion</label></b>
                        </div>
                        <div class="col-1">
                            <b><label for="">Eliminar</label></b>
                        </div>
                    </div>
                    <div *ngFor="let item of getItems2.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <div class="row">
                            <div class="col-3">
                                <select class="form-control" name="" id="" formControlName="prov" (change)="getMarcaClien($event.target.value, pointIndex)">
                                  <option value="" disabled>Seleccione..</option>
                                  <option *ngFor="let item of marca" value="{{item.id}}">{{item.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <input formControlName="dis" class="form-control precio" name="dis" id=dis2{{pointIndex}} placeholder="Valor Distribucion" (keyup)="precio()">
                            </div>
                            <div class="col-3">
                                <input formControlName="rep" class="form-control precio" name="rep" id=rep2{{pointIndex}} placeholder="Valor Representacion" (keyup)="precio()">
                            </div>
                            <div class="col-1">
                                <a class="btn btn-danger" (click)="removeItem(pointIndex)"><i style="color: white;" class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button id="mas" type="button" class="btn btn-primary active" (click)="addItem()"> Adicionar Proveedor <i class=" fas fa-plus"></i></button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success" (click)="successModal.show();"> Crear Estimado <i class="fas fa-check-circle"></i></button>
                    </div>
                </div>
            </form>
        </tab>
        <tab (click)="mostrar(false, false, true, false)">
            <ng-template tabHeading><i class="cui-tags"></i> Estimado por Referencia</ng-template>
            <form [formGroup]="formRefe" (ngSubmit)="submit(formRefe.value)">

                <div class="row">
                    <div class="col-2">
                        <mat-form-field style="width: 100%;">
                            <mat-label>MES Y AÑO</mat-label>
                            <input matInput [matDatepicker]="dp3" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field style="width: 100%;">
                            <input #newAgen type="text" placeholder="Referencia" aria-label="Number" matInput [formControl]="controlRefe" [matAutocomplete]="auto2">
                            <mat-autocomplete #auto2="matAutocomplete">
                                <mat-option *ngFor="let option of filteredRefe | async" [(value)]="option.descripcion" (click)="getMarcaRef(option.marca)">
                                    {{option.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <b><label for="">Valor Distribucion</label></b>
                    </div>
                    <div class="col" style="text-align: center;">
                        <b><label for="">Valor Representacion</label></b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input formControlName="dis" name="dis" id="dis3" placeholder="Valor Distribucion" class="form-control precio" (keyup)="precio()">
                    </div>
                    <div class="col">
                        <input formControlName="rep" name="rep" id="rep3" placeholder="Valor Representacion" class="form-control precio" (keyup)="precio()">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success" (click)="successModal.show();"> Crear Estimado <i class="fas fa-check-circle"></i></button>
            </form>
        </tab>
        <tab (click)="mostrar(false, false, false, true)">
            <ng-template tabHeading><i class="cui-dashboard"></i> Estimado por Cliente - Referencia</ng-template>
            <form [formGroup]="formClienRefe" (ngSubmit)="submit(formClienRefe.value)">

                <div class="row">
                    <div class="col-2">
                        <mat-form-field style="width: 100%;">
                            <mat-label>MES Y AÑO</mat-label>
                            <input matInput [matDatepicker]="dp4" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                            <mat-datepicker #dp4 startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field style="width: 100%;">
                            <input type="text" placeholder="Cliente" aria-label="Number" matInput [formControl]="controlCliente" [matAutocomplete]="auto3">
                            <mat-autocomplete #auto3="matAutocomplete">
                                <mat-option *ngFor="let option of filteredCliente | async" [(value)]="option.nombres">
                                    {{option.nombres}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field style="width: 100%;">
                            <input #newAgen type="text" placeholder="Referencia" aria-label="Number" matInput [formControl]="controlRefe" [matAutocomplete]="auto4">
                            <mat-autocomplete #auto4="matAutocomplete">
                                <mat-option *ngFor="let option of filteredRefe | async" [(value)]="option.descripcion" (click)="getMarcaCliRef(option.marca)">
                                    {{option.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <b><label for="">Valor Distribucion</label></b>
                    </div>
                    <div class="col" style="text-align: center;">
                        <b><label for="">Valor Representacion</label></b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input formControlName="dis" type="number" name="dis" id="dis4" placeholder="Valor Distribucion" class="form-control">
                    </div>
                    <div class="col">
                        <input formControlName="rep" type="number" name="rep" id="rep4" placeholder="Valor Representacion" class="form-control">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success" (click)="successModal.show();"> Crear Estimado <i class="fas fa-check-circle"></i></button>
            </form>
        </tab>
    </tabset>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creando Estimado</h5>
                <button type="button" class="close" id="closeC" data-dismiss="modal" aria-label="Close" (click)="successModal.hide(); loading = false;">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="" *ngIf="loading" class="mx-auto d-block">
                        <img src="../../../../assets/img/loading.gif"> Cargando...
                    </div>
                    <div class="" *ngIf="t" class="mx-auto d-block">
                        <div class="alert alert-success" role="alert">
                            Estimado creado exitosamente!
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" (click)="successModal.hide(); t = false">
                      Aceptar
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
