<div class="" *ngIf="quincena" class="mx-auto d-block">
    <div class="alert alert-success" role="alert">
        El fin de semana despues de la llegada del pedido es quincena
    </div>
</div>

<div class="card">
    <div class="card-body" style="height: 500px; overflow: auto">
        <table class="table table-bordered table-striped">
            <thead>
                <th>ARTICULO</th>
                <th>CANTIDAD SUGERIDA (CJ)</th>
                <th>UNIDAD DE EMPAQUE</th>
                <!--<th>DIAS INVENTARIO SEGURIDAD</th>-->
                <th>INVENTARIO ACTUAL</th>
                <!--<th>CANTIDAD MINIMA</th>-->
                <th>COBERTURA DE INVENTARIO (DIAS)</th>
                <th>EDIT</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of det; let i = index">
                    <td>{{item.refe.descripcion}}</td>
                    <td><input #cntcj type="number" class="form-control" id="{{i}}"
                            value="{{redondear(item.cantidadDes/item.cantidadUnd)}}" name="{{item.refe.codigo}}"
                            disabled="disabled"></td>
                    <!--<td><input type="number" class="form-control" id="{{i}}" value="{{item.cantidadDes}}" name="{{item.refe.codigo}}" disabled="disabled"></td>--->
                    <td>{{item.cantidadUnd}} UND X CJ</td>
                    <td>{{item.stock}} UND</td>
                    <!--<td>{{item.cantidadUnd}} UND x CJ</td>-->
                    <input #rcj type="hidden" value="{{(item.invSeg/redondear(item.cantidadDes/item.cantidadUnd))}}">
                    <td>{{redondear(rcj.value * cntcj.value)}}</td>
                    <!--<td>{{item.invSeg}}</td>-->

                    <td><button (click)="habilitar(i)" class="btn btn-warning"> <i class="far fa-edit"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col ">
        <button class="btn btn-success" (click)="generarOrc(); successModal.show();">Generar Orden <i
                class="fas fa-thumbs-up "></i></button>
    </div>

    <div class="col ">
        <button class="btn btn-danger" (click)="rechazarOrc()">Rechazar Orden <i
                class="fas fa-thumbs-down "></i></button>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creacion de Orden de Compra</h5>
                <button type="button" class="close" id="closeC" data-dismiss="modal" aria-label="Close"
                    (click)="successModal.hide(); loading = false;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="" *ngIf="loading" class="mx-auto d-block">
                        <img src="../../../../assets/img/loading.gif"> Cargando...
                    </div>
                    <div class="" *ngIf="t" class="mx-auto d-block">
                        <div class="alert alert-success" role="alert">
                            Orden creada exitosamente!
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" (click)="fin()">
                            Aceptar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>