<form (ngSubmit)="filterCom(id.value)">
    <input class="form-control" type="text" maxlength="13" name="tag" id="focus" #id placeholder="Codigo de Barras">
</form>
<br>
<div class="card">
    <div class="card-body" style="height: 500px; overflow: auto">
        <table class="table table-bordered table-striped">
            <thead>
                <th>ARTICULO</th>
                <th>CANTIDAD PEDIDA</th>
                <th>CANTIDAD RECIBIDA</th>
                <th>EDIT</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of det; let i = index" [ngStyle]="{'background-color': getColor(item.cantidad, item.cantidadRec)}">
                    <ng-container *ngIf="item.cantidad !== 0">
                        <td>{{item.refe.descripcion}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.cantidadRec}}</td>
                        <td><button class="btn btn-danger" (click)="noLlego(item.refe.codigo)" *ngIf="item.cantidadRec !== 0">X</button></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col ">
        <button class="btn btn-info" (click)="atras()"><i class="fas fa-arrow-left"></i> Atras</button>
    </div>
    <div class="col ">
        <button class="btn btn-success" (click)="finalizarOrden(); successModal.show();">Finalizar Orden <i class="fas fa-thumbs-up "></i></button>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creando Estimado</h5>
                <button type="button" class="close" id="closeC" data-dismiss="modal" aria-label="Close" (click)="successModal.hide(); loading = false;">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="" *ngIf="loading" class="mx-auto d-block">
                        <img src="../../../../assets/img/loading.gif"> Cargando...
                    </div>
                    <div class="" *ngIf="t" class="mx-auto d-block">
                        <div class="alert alert-success" role="alert">
                            Recepcion creada exitosamente!
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" (click)="atras();">
                    Aceptar
                  </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
