<script>
    window.addEventListener("keypress", function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    }, false);
</script>
<form [formGroup]="miFormulario">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Ingrese Codigos de Barras y Cantidades:</h5>
        </div>
        <div class="modal-body">
            <div>
                <h1 *ngIf="getItems.length === 0">
                    MENSAJE INFORMATIVO O ALERTA
                </h1>
                <div formArrayName="items">
                    <div *ngFor="let item of getItems.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <div class="row">
                            <div class="col-6">
                                <input autofocus [appAutofocus]="( focus === pointIndex )" formControlName="producto" type="text" class="form-control" name="codigo" id=codigo{{pointIndex}} placeholder="Codigo" maxlength=13 required (input)="onInputEntry($event, input2); validar(item.get('producto').value)">
                            </div>
                            <div class="col-4">
                                <input #input2 formControlName="cantidad" type="number" class="form-control" name="cantidad" id=cantidad{{pointIndex}} placeholder="Cantidad" required>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-danger" (click)="removeItem(pointIndex)"><i style="color: white;" class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div *ngIf="cont === 0">
                    PRODUCTO NO EXISTE
                </div>
            </div>
        </div>
    </div>

    <br>
    <div>
        <div class="row">
            <div class="col-6">
                <button id="mas" type="button" class="btn btn-primary btn-lg active" (click)="addItem(); setFocus(pointIndex)" [disabled]="cont === 0 || !miFormulario.valid"><i
                            class="fas fa-plus"></i></button>

            </div>
            <div class="col-4">
                <div *ngIf="getItems.length !== 0">
                    <button [disabled]="cont === 0 || !miFormulario.valid" id="modal" type="button" class="btn btn-success btn-lg active" data-toggle="modal" (click)="successModal.show()">
                          <i class="fas fa-check"></i>
                        </button>
                </div>
            </div>
        </div>
    </div>

    <div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmación</h4>
                    <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
            <i style="color: white;" class="fas fa-times"></i>
          </button>
                </div>
                <div class="modal-body">
                    <h1 class="modal-title">¿Esta seguro de haber finalizado?</h1>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button [disabled]="loading" type="button" (click)="submit(miFormulario.value)" class="btn btn-success btn-lg"><i
                                class="fas fa-check-circle"></i>
                            Si</button>
                        </div>
                        <div class="col">
                            <button [disabled]="loading" class="btn btn-danger btn-lg" (click)="successModal.hide()"><i class="fas fa-times-circle"></i> No </button>
                        </div>
                    </div>
                    <div class="" *ngIf="loading" class="mx-auto d-block">
                        <img src="../../assets/img/loading.gif"> Cargando...
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>