<label for="cubicaje">Seleccion proveedor</label>
<select class="form-control" name="" id="" (change)="getMarcaId($event.target.value)">
  <option value="" disabled>Seleccione..</option>
  <option *ngFor="let m of marca" value="{{m.nombre}}">{{m.nombre}}</option>
</select>
<br>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="cubicaje">Tiempo de Reposicion (Dias)</label>
            <input type="number" disabled class="form-control" id="timeRepo" name="timeRepo" placeholder="Tiempo de Reposicion" [(ngModel)]="getMarca.timeRepo" value="{{getMarca.timeRepo}}">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="cubicaje">Lead Time (Dias)</label>
            <input type="number" disabled class="form-control" id="leadTime" name="leadTime" placeholder="Lead Time" [(ngModel)]="getMarca.leadTime" value="{{getMarca.leadTime}}">
        </div>
    </div>
</div>

<button [disabled]="getMarca == null" type="button" class="btn btn-warning" (click)="warningModal.show();">Modificar <i class="far fa-edit"></i>
</button>

<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Proveedor: {{getMarca.nombre}}</h5>
                <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close" (click)="warningModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cubicaje">Tiempo de Reposicion (Dias)</label>
                    <input type="number" class="form-control" id="timeRepo" name="timeRepo" placeholder="Tiempo de Reposicion" [(ngModel)]="getMarca.timeRepo" value="{{getMarca.timeRepo}}">
                </div>
                <div class="form-group">
                    <label for="cubicaje">Lead Time (Dias)</label>
                    <input type="number" class="form-control" id="leadTime" name="leadTime" placeholder="Lead Time" [(ngModel)]="getMarca.leadTime" value="{{getMarca.leadTime}}">
                </div>
                <div class="form-group">
                    <button type="submit" (click)="guardarForm()" class="btn btn-success">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
